:root {
    --white: #fff;
    --off-white-lightest: rgb(241, 240, 238);
    --off-white-lighter: rgb(173, 192, 190);
    --off-black-darkest: rgb(18, 18, 20);
}




h1 {
    font-size: 400%;
    margin: 20px;
}
h3 {
    font-size: 200%;
    color: var(--off-white-lighter);
}
body {
    color: var(--white);
    background-color: var(--off-black-darkest);
}
header {
    position: relative;
    top: 30%;
    left: 10%;
    line-height: 1.5;
    opacity: 0;
    -webkit-animation: fadeInFromNone 2.5s cubic-bezier(.34,.3,0,1.02) 1s forwards;
    -moz-animation: fadeInFromNone 2.5s cubic-bezier(.34,.3,0,1.02) 1s forwards;
    -o-animation: fadeInFromNone 2.5s cubic-bezier(.34,.3,0,1.02) 1s forwards;
    animation: fadeInFromNone 2.5s cubic-bezier(.34,.3,0,1.02) 1s forwards;
}
header h1 {
    filter: none;
    animation: glow 7s cubic-bezier(.17,.81,0,1.01) forwards 2s;
}
header h3 {

    position: relative;
    left: 25%;
    opacity: 0%;
    -webkit-animation: fadeInFromNone 3s cubic-bezier(.34,.3,0,1.02) 1.8s forwards;
    -moz-animation: fadeInFromNone 3s cubic-bezier(.34,.3,0,1.02) 1.8s forwards;
    -o-animation: fadeInFromNone 3s cubic-bezier(.34,.3,0,1.02) 1.8s forwards;
    animation: fadeInFromNone 3s cubic-bezier(.34,.3,0,1.02) 1.8s forwards;
}
section {
    display: flex;
    position: relative;
    height: 120vh;
} 
.portfolio-shortcut {
    color: rgb(119, 119, 119);
    position: absolute;
    transform: translate(40px, 100px);
    background: var(--off-black-darkest);
    border: 3px solid rgb(119, 119, 119);
    border-radius: 40px;
    width: 30px;
    height: 30px;
    text-align: right;
    margin-bottom: auto;
    line-height: 0.2;
    font-weight: 700;
    opacity: 0%;
    padding: 25px 30px 30px 25px;
    box-shadow: 0 0 1px rgb(177, 177, 177);
    animation: fadeInFromNone 2.5s cubic-bezier(.34,.3,0,1.02) 1.2s forwards;
    -webkit-transition: width .8s cubic-bezier(.36,.26,0,1.02), filter 1s, border-color 0.5s, color 1s;
    -moz-transition: width .8s cubic-bezier(.36,.26,0,1.02), filter 1s, border-color 0.5s, color 1s;
    -o-transition: width .8s cubic-bezier(.36,.26,0,1.02), filter 1s, border-color 0.5s, color 1s;
    transition: width 0.9s cubic-bezier(.36,.83,0,.99) 0.1s, 
    padding .4s cubic-bezier(.36,.83,0,.99),
    transform .4s cubic-bezier(.36,.83,0,.99),
    border-color 0.5s, 
    border-radius 0.3s,
    color 1s;
}
.portfolio-shortcut:hover {
    background-color: rgba(69, 185, 173, 0.071);
    border: 3px solid rgb(229, 255, 251);
    box-shadow: 0 0 6px rgba(121, 221, 204, 0.947), inset 0px 0px 10px 5px rgba(67, 216, 211, 0.455);
    color: var(--white);
    width: 280px;
    padding: 31px 30px 35px 31px;
    transform: translate(36px, 96px);
    border-radius: 60px;
    cursor: pointer;
    transition: width 1.3s cubic-bezier(.36,.83,0,.99), 
    padding .8s cubic-bezier(.36,.83,0,.99),
    transform .8s cubic-bezier(.36,.83,0,.99),
    border-color 0.5s, 
    box-shadow 0.2s, 
    border-radius 0.3s,
    color 1s;
}
.portfolio-shortcut:hover::before {
    content: "Show me the projects!";
    font-size: 110%;
    white-space: nowrap;
    position: fixed;
    text-align: right;
    right: 50px;
    opacity: 0;
    filter: drop-shadow(2px 2px 2px rgb(0, 0, 0));
    -webkit-animation: fadeIn 1.5s cubic-bezier(.34,.3,0,1.02) 0.3s forwards;
    -moz-animation: fadeIn 1.5s cubic-bezier(.34,.3,0,1.02) 0.3s forwards;
    -o-animation: fadeIn 1.5s cubic-bezier(.34,.3,0,1.02) 0.3s forwards;
    animation: fadeIn 1.5s cubic-bezier(.34,.3,0,1.02) 0.3s forwards;
}

.sidebar-gradient {
    position: fixed;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0) 1%, rgba(114, 114, 114, 0.306) 75%, rgba(237, 237, 237, 0.834) 100%);
    right: 0px;
    bottom: 00px;
    width: 400px;
    height: 100vh;
}
.sidebar {
    background-color: rgba(202, 202, 202, 0.511);
    border-left: 4px solid rgba(255, 255, 255, 0.052);
    filter: drop-shadow(0px 10px 20px rgba(79, 186, 200, 0.523));
    position: relative;
    display: flex;
    flex-direction: column;
    width: 70px;
    height: 100vh;
    left: 330px;
    justify-content: center;
    transition: filter 0.8s cubic-bezier(.34,.3,0,1.02) 0.1s,
    background-color 0.4s cubic-bezier(.34,.3,0,1.02) 0.1s,
    border-left 0.3s cubic-bezier(.34,.3,0,1.02),
    box-shadow 0.2s cubic-bezier(.34,.3,0,1.02);
}
.sidebar:hover {
    background-color: rgba(160, 237, 218, 0.288);
    filter: drop-shadow(-10px 10px 25px rgba(42, 255, 255, 0.308));
    transition: filter 1.2s cubic-bezier(.34,.3,0,1.02),
    background-color 0.2s cubic-bezier(.34,.3,0,1.02),
    border-left 0.07s cubic-bezier(.34,.3,0,1.02),
    box-shadow 0.15s cubic-bezier(.34,.3,0,1.02);
    border-left: 4px solid rgba(255, 255, 255, 0.544);
    outline-offset: -4px;
    box-shadow: inset 0px -4px 12px rgba(255, 255, 255, 0.782);

}
.sidebar-buttons {
    position: relative;
    opacity: 0%;
    margin: auto;
    animation: scrollDown 2s cubic-bezier(.17,.81,0,1.01) 1.1s forwards;
}
.sidebutton {
    position: relative;
    filter: drop-shadow(2px 4px 3px rgba(0, 0, 0, 0.462));
    opacity: 70%;
    margin: 10px auto;
    width: 80px;
    right: 9px;
    animation: expand 2.5s cubic-bezier(.17,.81,0,1.01) 1.7s forwards;
    transition: width 0.5s cubic-bezier(.36,.83,0,.99),
    right 0.5s cubic-bezier(.36,.83,0,.99),
    opacity 0.4s cubic-bezier(.17,.81,0,1.01),
    filter 0.5s cubic-bezier(.17,.81,0,1.01);
    border-radius: 50px;
}
.sidebutton:hover {
    position: relative;
    filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.886));
    width: 115px;
    opacity: 100%;
    right: 26px;
    transition: width 0.6s cubic-bezier(.36,.83,0,.99),
    right 0.6s cubic-bezier(.36,.83,0,.99),
    opacity 0.4s cubic-bezier(.17,.81,0,1.01),
    filter 0.5s cubic-bezier(.17,.81,0,1.01);
}

.about {
    display: inline-block;
    margin: 20px;
    line-height: 2;
    width: 90vw;
    height: 100vh;
    font-size: 110%;
}
.about h1 {
    position: relative;
    left: 150px;
    margin: 70px 20px 70px 20px;
    filter: drop-shadow(0px 0px 123px rgba(118, 210, 210, 0.39));
}
.about p {
    filter: drop-shadow(0px 0px 5px black);
}
.about-picture {
    margin: 60px;
    width: 200px;
    height: 200px;
    border-radius: 5px;
    filter: drop-shadow(0px 0px 6px black);
}
.about section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}
.about-section2 {
    margin-left: 35px;
}
.portfolio {
    display: inline-block;
    margin: 20px;
    line-height: 1.5;
}
.container {
    display: flex;
    flex-flow: row wrap;
    width: 86vw;
    height: 80vh;
}
.container div div img {
    border-radius: 5px;
    display: flex;
    position: relative;
    margin:  20px auto;
    width: 65%;
    height: 70%;
}
.sub-container-1, .sub-container-2 {
    display: flex;
    margin: auto;
    width: 50%;
    height: inherit;
    display: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.box-1, .box-2, .box-3, .box-4, .box-5, .box-6, .box-7 {
    border: 1px solid rgb(182, 182, 182);
    border-radius: 25px;
    margin: 10px auto;
    background-color: rgba(131, 152, 148, 0.644);
}
.box-1:hover, .box-2:hover, .box-3:hover, .box-4:hover, .box-5:hover, .box-6:hover, .box-7:hover {
    border: 2px dotted rgb(255, 255, 255);
    background-color: rgba(124, 160, 153, 0.644);
    box-shadow: inset 0px 0px 60px rgba(79, 186, 200, 0.277);
    filter: drop-shadow(0px 0px 10px rgba(79, 186, 200, 0.567));
    cursor: pointer;
}
.box-1 {
    width: 90%;
    height: 55%;
    font-size: 125%;
    transition: width 0.4s cubic-bezier(.36,.83,0,.97),
    height 0.4s cubic-bezier(.36,.83,0,.97),
    font-size 0.4s cubic-bezier(.36,.83,0,.97),
    background-color 0.2s cubic-bezier(.36,.83,0,.97),
    filter 0.2s cubic-bezier(.36,.83,0,.97);
}
.box-1:hover {
    width: 95%;
    height: 60%;
    font-size: 140%;
}
.text-container-1 {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    width: 65%;
    filter: drop-shadow(0px 0px 10px black);
}
.box-2, .box-3, .box-4, .box-5, .box-6, .box-7 {
    width: 35%;
    height: 35%;
    margin: auto;
    font-size: 85%;
    transition: width 0.4s cubic-bezier(.36,.83,0,.97),
    height 0.4s cubic-bezier(.36,.83,0,.97),
    font-size 0.4s cubic-bezier(.36,.83,0,.97),
    background-color 0.2s cubic-bezier(.36,.83,0,.97),
    filter 0.2s cubic-bezier(.36,.83,0,.97);
}
.box-2:hover, .box-3:hover, .box-4:hover, .box-5:hover, .box-6:hover, .box-7:hover {
    width: 42%;
    height: 42%;
    font-size: 100%;
}

@-webkit-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
        left: 0%;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}
@-moz-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
        left: 0%;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}
@-o-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
        left: 0%;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}
@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
        left: 0%;
    }

    1% {
        display: block;
        opacity: 0;
    }
    
    100% {
        display: block;
        opacity: 1;
    }
}

@-webkit-keyframes buttonSlide {
    0% {
        width: 0%;
    }

    1% {
        width: 0;
    }
    
    100% {
        width: 200px;
    }
}
@-moz-keyframes buttonSlide {
    0% {
        width: 0%;
    }

    1% {
        width: 0;
    }
    
    100% {
        width: 200px;
    }
}
@-o-keyframes buttonSlide {
    0% {
        width: 0%;
    }

    1% {
        width: 0;
    }
    
    100% {
        width: 200px;
    }
}
@keyframes buttonSlide {
    0% {
        width: 0%;
    }

    1% {
        width: 0;
    }
    
    100% {
        width: 200px;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        display:contents;
        opacity: 0;
    }

    1% {
        display:contents;
        opacity: 0;
    }
    
    100% {
        display:contents;
        opacity: 1;
    }
}
@-moz-keyframes fadeIn {
    0% {
        display:contents;
        opacity: 0;
    }

    1% {
        display:contents;
        opacity: 0;
    }
    
    100% {
        display:contents;
        opacity: 1;
    }
}
@-o-keyframes fadeIn {
    0% {
        display:contents;
        opacity: 0;
    }

    1% {
        display:contents;
        opacity: 0;
    }
    
    100% {
        display:contents;
        opacity: 1;
    }
}
@keyframes fadeIn {
    0% {
        display:contents;
        opacity: 0;
    }

    1% {
        display:contents;
        opacity: 0;
    }
    
    100% {
        display:contents;
        opacity: 1;
    }
}

@-webkit-keyframes scrollDown {
    0% {
        display: none;
        opacity: 0;
        transform: translateY(-1000%)
    }

    1% {
        display: block;
        opacity: 0;
    }
    
    100% {
        display: block;
        opacity: 1;
    }
}
@-moz-keyframes scrollDown {
    0% {
        display: none;
        opacity: 0;
        transform: translateY(-1000%)
    }

    1% {
        display: block;
        opacity: 0;
    }
    
    100% {
        display: block;
        opacity: 1;
    }
}
@-o-keyframes scrollDown {
    0% {
        display: none;
        opacity: 0;
        transform: translateY(-1000%)
    }

    1% {
        display: block;
        opacity: 0;
    }
    
    100% {
        display: block;
        opacity: 1;
    }
}
@keyframes scrollDown {
    0% {
        display: none;
        opacity: 0;
        transform: translateY(-1000%)
    }

    1% {
        display: block;
        opacity: 0;
    }
    
    100% {
        display: block;
        opacity: 1;
    }
}

@-webkit-keyframes expand {
    0% {
        margin: 10px auto;
    }
    
    100% {
        margin: -3px auto;
    }
}
@-moz-keyframes expand {
    0% {
        margin: 10px auto;
    }
    
    100% {
        margin: -3px auto;
    }
}
@-o-keyframes expand {
    0% {
        margin: 10px auto;
    }
    
    100% {
        margin: -3px auto;
    }
}
@keyframes expand {
    0% {
        margin: 10px auto;
    }
    
    100% {
        margin: -8px auto;
    }
}

@-webkit-keyframes glow {
    0% {
        margin: 10px auto;
    }
    
    100% {
        margin: -3px auto;
    }
}
@-moz-keyframes glow {
    0% {
        margin: 10px auto;
    }
    
    100% {
        margin: -3px auto;
    }
}
@-o-keyframes glow {
    0% {
        margin: 10px auto;
    }
    
    100% {
        margin: -3px auto;
    }
}
@keyframes glow {
    0% {
        filter: none;
    }
    
    100% {
        filter: drop-shadow(0px 0px 123px rgba(118, 210, 210, 0.39));
    }
}